<h1>Product Catalog</h1>
<div class="container">
    <% @products.each do |product| %>
        <div class="single_item">

            <% if product.image.attached? %>
                <%= image_tag(product.image)  %>
            <% end %>

            <h5><%= link_to product.name, shopper_path(product), class:"link-btn", style: "font-size:1.3em" %></h5>

            <p><%= product.description %></p>

            <h3>$<%= product.price %></h3>

            <%= render partial:"add2cart", locals: { product: product } %>
        </div>
    <% end %>
</div>

