<div class="<%= cycle('list_line_odd','list_line_even') %>">
  
  <div class="product-img">
    <% if product.image.attached? %>
      <%= image_tag(product.image)  %>
    <% end %>
  </div>
  <div class="discription">
      <h2><%= product.name %></h1>
      <h3><%= product.description %></h2>
      <h3>$<%= product.price %></h2>
  </div>
</div>

