<div id="<%= dom_id product %>" class="<%= cycle('list_line_odd','list_line_even') %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <!--><%= image_tag('img.png') %><!-->
    <%= product.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
