<div class="search-bar" style="display:flex; justify-content:center; align-items:center; gap:10px; margin-bottom:20px; ">
    <%= form_with url: products_path, method: :get, local: true, data: { turbo: false }  do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search for items...", style:"width:400px; height:40px; font-size:18px; padding:8px;" %>
    <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
    <% end %>
    <% if params[:query].present? %>
      <%= link_to "Clear", products_path, class: "btn btn-outline-secondary", style: "height:40px;" %>
    <% end %>
</div>

<% if params[:query].present? %>
  <div style="text-align:center; margin-bottom:20px;">
    <p style="font-size:1.1em; color:#666;">
      <% if @products.any? %>
        Found <strong><%= @products.count %></strong> result(s) for "<strong><%= params[:query] %></strong>"
      <% else %>
        No results found for "<strong><%= params[:query] %></strong>"
        <%= button_to "Create new product", new_product_path, method: :get, class:"link-btn" %>
      <% end %>
    </p>
  </div>
<% end %>

<% content_for :title, "Products" %>

<div id="products">
  <% if @products.any? %>
    <% @products.each do |product| %>

      <%= render product %>

    <% end %>
  <% end %>
</div>
