<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= button_to "Edit this product", edit_product_path(@product), method: :get, class:"link-btn", form_class: "inline-form" %> |

  <%= button_to "Destroy this product", @product, method: :delete,
  data: { turbo_confirm: "Are you sure you want to delete this product?" }, class: "link-delete-btn", form_class: "inline-form" %> |

  <%= button_to "Back to products", products_path, method: :get, class:"link-btn", form_class: "inline-form" %>
</div>
